<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/secured/home">Secure</a></li>
            <li role="presentation"><a href="/about">About</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">PRHA</h3>
      </div>
      <h1>Report a Bug</h1>
      <h4>Found a bug in the website? Fill out the following form and hit submit. If you are redirected to the home page, your request has been sent.</h4>
      <form>
        <p>Email<span color="red">*</span>: <input type="text" name="email" value="user@email.com"/></p>
        <p>Name<span color="red">*</span>: <input type="text" name="fname" value="John Smith"/></p>
        <p>Are you a resident at Princeton Ridge? <input type="checkbox" name="resident" value="true"></p>
        <p>Please describe your problem in detail. The more information you provide, the quicker we will be able to fix the problem.</p>
        <textarea name="message" rows="10" cols="30">
          Describe the problem in detail.
        </textarea>
        <!-- Insert submit button -->
      </form>
      <footer class="footer">
        <p>Copyright &copy; 2015 - Princeton Ridge Homeowners Association &middot; Developed by <a href="http://github.com/ARMmaster17">Joshua Zenn</a></p>
        <p>Version: #{@TRAVISBUILDNUMBER}</p>
      </footer>
</div> <!-- /container -->
