<div class="container">
  <h2>Oops!</h2>
  <h5>That wasn't supposed to happen...</h5>
  <hr>
  <p>A team of highly trained monkeys have been dispatched to resolved to fix this issue. If you see them, give them this error code: <b>#{@errdetail}</b></p>
</div>