<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/secured/home">Secure</a></li>
            <li role="presentation"><a href="/about">About</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Princeton Ridge</h3>
      </div>
      
        <div class="jumbotron">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-pause="hover">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="http://princetonridge.com/Entry.JPG" alt="PRN_ENTRY">
                        <div class="carousel-caption">
                            <h3>Welcome to Princeton Ridge</h3>
                            <p>Kennesaw GA</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://princetonridge.com/Entry.JPG" alt="PRN_ENTRY">
                        <div class="carousel-caption">
                            <h3>New site confusing?</h3>
                            <p>We recently did a complete overhaul of the website. If you need help finding something, click below to take a quick tour of the new site.</p>
                            <button type="button" class="btn btn-primary">Take the tour >></button>
                        </div>
                    </div>
                    <div class="item">
                        <img src="#{@yom_image}" alt="PRN_ENTRY">
                        <div class="carousel-caption">
                            <h3>Yard of the Month</h3>
                            <h4>#{@yom_month} winner: #{@yom_name} at #{@yom_addr_short}.</h4>
                            <button type="button" class="btn btn-primary">See more >></button>
                        </div>
                    </div>
                    
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row marketing">
          <div class="col-lg-6">
            <h2>Learn more about Princeton Ridge</h2>
            <hr />
            <h4>Community</h4>
            <p>Princeton Ridge is home to a friendly community with private pool and tennis facilities.</p>

            <h4>Homeowners Association</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
          </div>

          <div class="col-lg-6">
            <h2>Existing homeowners</h2>
            <hr />
            <h4>Confused by the new site?</h4>
            <p>Take a quick tour of the new site to help you find what you need quickly. <a href="#">Begin tour >></a></p>

            <h4>Residents Dashboard</h4>
            <p>Previously known as the <i>Residents Only Area</i>, the Residents Dashboard contains meeting minutes, Covenant summaries, and important PRHA documents. <a href="/secured/home">Visit now >></a></p>

            <h4>Need the old site?</h4>
            <p>We're still working on porting everything over. If we forgot something, <a href="http://princetonridge.com/">click here</a> to go to the legacy site.</p>
          </div>
        </div>
      <footer class="footer">
        <p>Copyright &copy; 2015 - Princeton Ridge Homeowners Association &middot; Developed by <a href="http://github.com/ARMmaster17">Joshua Zenn</a></p>
        <!-- <p>Version: #{@TRAVISBUILDNUMBER}</p> -->
        <p><img src="https://img.shields.io/github/license/PrincetonRidgeHA/HomeWeb.svg?style=flat-square" /> | <img src="https://img.shields.io/github/tag/PrincetonRidgeHA/HomeWeb.svg?style=flat-square" /> | <img src="https://img.shields.io/travis/PrincetonRidgeHA/HomeWeb/master.svg?style=flat-square" /></p>
      </footer>
</div> <!-- /container -->
