<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/secured/home">Secure</a></li>
            <li role="presentation"><a href="/about">About</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">PRHA</h3>
      </div>

      
        <div class="jumbotron">
          <h1 color="white">Princeton Ridge</h1>
          <h3 color="white">Kennesaw, GA</h3>
          <p class="lead">A neighborhood of 120 homes, Princeton Ridge is a swim-tennis community in northwest Cobb County, located one mile south of Cobb Parkway on Pine Mountain Road in Kennesaw, Georgia.</p>
        </div>

        <div class="row marketing">
          <div class="col-lg-6">
            <h2>Learn more about Princeton Ridge</h2>
            <hr />
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
          </div>

          <div class="col-lg-6">
            <h2>Existing homeowners</h2>
            <hr />
            <h4>Confused by the new site?</h4>
            <p>Take a quick tour of the new site to help you find what you need quickly. <a href="#">Begin tour >></a></p>

            <h4>Residents Dashboard</h4>
            <p>Previously known as the <i>Residents Only Area</i>, the Residents Dashboard contains meeting minutes, Covenant summaries, and important PRHA documents. <a href="/secured/home">Visit now >></a></p>

            <h4>Need the old site?</h4>
            <p>We're still working on porting everything over. But if we forgot something, <a href="#">click here</a> to go to the legacy site.</p>
          </div>
        </div>
      <footer class="footer">
        <p>Copyright &copy; 2015 - Princeton Ridge Homeowners Association &middot; Developed by <a href="http://github.com/ARMmaster17">Joshua Zenn</a></p>
        <p>Version: #{@TRAVISBUILDNUMBER}</p>
      </footer>
</div> <!-- /container -->
