<div class="container">
  <div class="progress">
    <br />
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" <!--style="width:40%"-->>
      <p>Processing...</p>
    </div>
  </div>
  <hr />
  <h6>Please do not close this window. If you are not redirected within 30 seconds, <a href="/">click here</a>.</h6>
</div> <!-- /container -->
