            <div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
                <ul class="sidebar">
                    <li>
                        <a href="/admin/dashboard/data/info">
                            <span class="mif-apps icon"></span>
                            <span class="title">DB Info</span>
                            <span class="counter">0</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/dashboard/data/rd">
                            <span class="mif-users icon"></span>
                            <span class="title">Resident Directory</span>
                            <span class="counter">#{@rdcount}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/dashboard/data/docs">
                            <span class="mif-file-pdf icon"></span>
                            <span class="title">Documents</span>
                            <span class="counter">#{@docscount}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/dashboard/data/yom">
                            <span class="mif-medal icon"></span>
                            <span class="title">Yard of the Month</span>
                            <span class="counter">#{@yomcount}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/dashboard/data/news">
                            <span class="mif-broadcast icon"></span>
                            <span class="title">News</span>
                            <span class="counter">#{@newscount}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/dashboard/data/contacts">
                            <span class="mif-broadcast icon"></span>
                            <span class="title">Contacts</span>
                            <span class="counter">#{@contactscount}</span>
                        </a>
                    </li>
                </ul>
            </div>