javascript:
    $(function(){
            var form = $(".login-form");

            form.css({
                opacity: 1,
                "-webkit-transform": "scale(1)",
                "transform": "scale(1)",
                "-webkit-transition": ".5s",
                "transition": ".5s"
            });
        });

<div class="login-form padding20 block-shadow">
    <form action="/admin/login" method="post">
        <h1 class="text-light">Administrator Login</h1>
        <hr class="thin" />
        <h3><small>Getting errors? Make sure you are a member of the <a href="http://github.com/PrincetonRidgeHA">PrincetonRidgeHA</a> organization on GitHub.<small></h3>
        <br />
        <div class="form-actions">
            <a type="button" class="btn btn-primary" href="https://github.com/login/oauth/authorize?scope=read:org&client_id=#{@gitid}"><span class="mif-github mif-lg"></span> Login</a>
        </div>
    </form>
</div>
