<div class="app-bar fixed-top darcula" data-role="appbar">
    <a class="app-bar-element branding" href="/">Princeton Ridge</a>
    <span class="app-bar-divider"></span>
    <ul class="app-bar-menu">
        <li><a href="/admin/dashboard">Dashboard</a></li>
        <li>
            <a href="" class="dropdown-toggle">Data Management</a>
            <ul class="d-menu" data-role="dropdown">
                <li><a href="/admin/dashboard/data/rd">Resident Directory</a></li>
                <li><a href="/admin/dashboard/data/docs">Documents</a></li>
                <li><a href="/admin/dashboard/data/yom">Yard of the Month</a></li>
                <li class="divider"></li>
                <li><a href="/admin/dashboard/data/info">Database Info</a></li>
            </ul>
        </li>
        <li><a href="#">Bug Reports</a></li>
    </ul>
    <div class="app-bar-element place-right">
        <span class="dropdown-toggle"><span class="mif-user"></span>#{@admin_uname}</span>
        <div class="app-bar-drop-container padding10 place-right no-margin-top block-shadow fg-dark" data-role="dropdown" data-no-close="true" style="width: 220px">
            <h2 class="text-light">Quick settings</h2>
            <ul class="unstyled-list fg-dark">
                <li><a href="http://github.com/#{@admin_uname}" class="fg-white1 fg-hover-yellow">View profile</a></li>
                <li><a href="/admin/logout" class="fg-white3 fg-hover-yellow">Log out</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="flex-grid no-responsive-future" style="height: 100%;">
        <div class="row" style="height: 100%">
            <div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
                <ul class="sidebar">
                    <li>
                        <a href="/admin/dashboard/home">
                            <span class="mif-apps icon"></span>
                            <span class="title">Overview</span>
                            <span class="counter">0</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/admin/dashboard/about">
                            <span class="mif-vpn-publ icon"></span>
                            <span class="title">About</span>
                            <span class="counter">0</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cell auto-size padding20 bg-white" id="cell-content">
                <h1 class="text-light">About</h1>
                <hr class="thin bg-grayLighter">
                <p>&copy; 2015 Princeton Ridge Homeowners Association.</p>
                <p>Developed and maintained by Joshua Zenn.</p>
                <p>Site styling and themeing done with Metro UI CSS and Twitter Bootstrap 3.</p>
            </div>
        </div>
    </div>
</div>