== slim :_partial_admin_navigation
<div class="page-content">
    <div class="flex-grid no-responsive-future" style="height: 100%;">
        <div class="row" style="height: 100%">
            <div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
                <ul class="sidebar">
                    <li class="active">
                        <a href="/admin/dashboard/home">
                            <span class="mif-apps icon"></span>
                            <span class="title">Overview</span>
                            <span class="counter">0</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cell auto-size padding20 bg-white" id="cell-content">
                <h1 class="text-light">Dashboard Overview</h1>
                <hr class="thin bg-grayLighter">
                <p>Nothing to report here.</p>
            </div>
        </div>
    </div>
</div>