== slim :_partial_board_navigation
<div class="page-content">
    <div class="flex-grid no-responsive-future" style="height: 100%;">
        <div class="row" style="height: 100%">
            <div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
                <ul class="sidebar">
                    <li class="active">
                        <a href="/board/home">
                            <span class="mif-apps icon"></span>
                            <span class="title">Overview</span>
                            <span class="counter">0</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cell auto-size padding20 bg-white" id="cell-content">
                <h1 class="text-light">Dashboard Overview</h1>
                <hr class="thin bg-grayLighter">
                <form action="/board/home" method="POST">
                    <label for="to">To:</label>
                    <input type="text" name="to" id="to">
                    <label for="content">Content:</label>:</label>
                    <input type="text" name="content" id="content">
                    <button type="submit" class="button primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>