<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/help/u/home">Home</a></li>
                <li role="presentation"><a href="/">Return to site</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Princeton Ridge</h3>
    </div>

    <h1>Content test</h1>

    <footer class="footer">
        <p><img src="https://img.shields.io/github/license/PrincetonRidgeHA/HomeWeb.svg?style=flat-square" /> | <img src="https://img.shields.io/github/tag/PrincetonRidgeHA/HomeWeb.svg?style=flat-square" /> | <img src="https://img.shields.io/travis/PrincetonRidgeHA/HomeWeb/master.svg?style=flat-square" /></p>
        <p>&copy; 2015 - Princeton Ridge Homeowners Association &middot; Developed by <a href="http://github.com/ARMmaster17">Joshua Zenn</a></p>
        <p><a href="http://glyphicons.com/">Glyphicons</a> are property of Jan Kovarik</p>
    </footer>
</div>