    == slim :_partial_dashboard_navigation
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="page-header">Resident list</h1>
          <div class="table-responsive" ng-app="residentApp" ng-controller="residentController">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name(s)</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Phone number</th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="x in residents">
                    <td>{{x.name}}</td>
                    <td>{{x.addr}}</td>
                    <td><a href="mailto:{{x.email}}">{{x.email}}</a></td>
                    <td>{{x.pnum}}</td>
                  </tr>
              </tbody>
            </table>
            <ul class="pagination">
              - for x in 1..@pagination.get_num_pages
                - if x == @pagination.get_current_page
                  <li class="active"><a href="/secured/members/residents?pg=#{x}">#{x}</a></li>
                - else
                  <li><a href="/secured/members/residents?pg=#{x}">#{x}</a></li>
            </ul>
            <!--<a onclick="showDisclaimer()">Export as CSV</a>-->
            <p><del>Export as CSV</del> (You must be logged in through SSO to use this feature)</p>
          </div>
        </div>
      </div>
    </div>
    javascript:
      var app = angular.module('residentApp', []);
      app.controller('residentController', function($scope, $http) {
        $http.get(generateApiUrl("/api/v1/protected/data/residents/all"))
          .then(function (response) {$scope.residents = response.data;
        });
      });
