    == slim :_partial_dashboard_navigation
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="page-header">Contacts</h1>
          <div class="table-responsive" ng-app="contactsApp" ng-controller="contactsController">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Name</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in contacts">
                  <td>{{item.title}}</td>
                  <td>{{item.name}}</td>
                  <td><a href="mailto:{{item.email}}">{{item.email}}</a></td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination">
              - for x in 1..@pagination.get_num_pages
                - if x == @pagination.get_current_page
                  <li class="active"><a href="/secured/members/contacts?pg=#{x}">#{x}</a></li>
                - else
                  <li><a href="/secured/members/contacts?pg=#{x}">#{x}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    javascript:
      var app = angular.module('contactsApp', []);
      app.controller('contactsController', function($scope, $http) {
        $http.get(generateApiUrl("/api/v1/protected/data/contacts/all"))
          .then(function (response) {$scope.contacts = response.data;
        });
      });