    == slim :_partial_dashboard_navigation
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="page-header">Yard of the Month Winners</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Month</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Picture URL</th>
                </tr>
              </thead>
              <tbody>
                - @items.each do |item|
                  <tr>
                    <td>#{item.month}/#{item.year}</td>
                    <td>
                      =item.name
                    </td>
                    <td>
                      =item.address
                    </td>
                    <td>
                      - if item.imgpath != "#"
                        <a href="#{item.imgpath}">View >></a>
                    </td>
                  </tr>
              </tbody>
            </table>
            <ul class="pagination">
              - for x in 1..@pagination.get_num_pages
                - if x == @pagination.get_current_page
                  <li class="active"><a href="/secured/members/yom?pg=#{x}">#{x}</a></li>
                - else
                  <li><a href="/secured/members/yom?pg=#{x}">#{x}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
