    == slim :_partial_dashboard_navigation
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="page-header">Yard of the Month Winners</h1>
          <div class="table-responsive" ng-app="yomApp" ng-controller="yomController">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Month</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Picture URL</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in yom">
                  <td>{{item.month}}/{{item.year}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.address}}</td>
                  <td>
                    <a href="{{item.imgpath}}">View >></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination">
              - for x in 1..@pagination.get_num_pages
                - if x == @pagination.get_current_page
                  <li class="active"><a href="/secured/members/yom?pg=#{x}">#{x}</a></li>
                - else
                  <li><a href="/secured/members/yom?pg=#{x}">#{x}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    javascript:
      var app = angular.module('yomApp', []);
      app.controller('yomController', function($scope, $http) {
        $http.get(generateApiUrl("/api/v1/protected/data/yom/all"))
          .then(function (response) {$scope.yom = response.data;
        });
      });
