    == slim :_partial_dashboard_navigation
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="page-header">Resident's Dashboard</h1>

          <p>Welcome to the Resident's Dashboard (previously the Members Only Area). If you need help finding something, click "help" on the sidebar.</p>
          <hr>
          <h3>Pool/Tennis Hours</h3>
          <p>Coming soon...</p>
        </div>
      </div>
    </div>
