    == slim :_partial_dashboard_navigation
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="page-header">Documents</h1>
          <div class="table-responsive" ng-app="docsApp" ng-controller="docsController">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Document Name</th>
                  <th>Upload Date</th>
                  <th>Uploaded By</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in docs">
                  <td>{{item.name}}</td>
                  <td>{{item.uploaddate}}</td>
                  <td>{{item.uploadedby}}</td>
                  <td><a href="{{item.url}}">Download >></a></td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination">
              - for x in 1..@pagination.get_num_pages
                - if x == @pagination.get_current_page
                  <li class="active"><a href="/secured/members/docs?pg=#{x}">#{x}</a></li>
                - else
                  <li><a href="/secured/members/docs?pg=#{x}">#{x}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    javascript:
      var app = angular.module('docsApp', []);
      app.controller('docsController', function($scope, $http) {
        $http.get(generateApiUrl("/api/v1/protected/data/docs/all"))
          .then(function (response) {$scope.docs = response.data;
        });
      });
