    == slim :_partial_dashboard_navigation
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="page-header">Resident list</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name(s)</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Phone number</th>
                </tr>
              </thead>
              <tbody>
                - @items.each do |item|
                  <tr>
                    <td>
                      =item.name
                    </td>
                    <td>
                      =item.addr
                    </td>
                    <td>
                      <a href="mailto:#{item.email}">#{item.email}</a>
                    </td>
                    <td>
                      =item.pnum
                    </td>
                  </tr>
              </tbody>
            </table>
            <a onclick="showDisclaimer()">Export as CSV</a>
          </div>
        </div>
      </div>
    </div>
