== slim :_partial_news_navigation
<div class="container marketing">
  - @articles.each do |article|
      <hr id="feature-start" class="featurette-divider">
      <h1><a href="/news/#{article.id}">#{article.title}</a></h1>
      <h6>#{article.uploaddate} - #{article.uploadedby}</h6>
      <p>#{article.content}</p>
  <hr class="featurette-divider">
  <footer class="footer">
    <p class="pull-right"><img src="https://img.shields.io/github/license/PrincetonRidgeHA/HomeWeb.svg?style=flat-square" /> | <img src="https://img.shields.io/github/tag/PrincetonRidgeHA/HomeWeb.svg?style=flat-square" /> | <img src="https://img.shields.io/travis/PrincetonRidgeHA/HomeWeb/master.svg?style=flat-square" /></p>
    <p>&copy; 2015 - Princeton Ridge Homeowners Association &middot; Developed by <a href="http://github.com/ARMmaster17">Joshua Zenn</a></p>
    <p><a href="http://glyphicons.com/">Glyphicons</a> are property of Jan Kovarik</p>
  </footer>
</div>
