== slim :_partial_news_navigation
<div class="container marketing">
  <hr id="feature-start" class="featurette-divider">
  <h1>#{@view_data.get_var('article').title}</h1>
  <h6>#{@view_data.get_var('article').uploaddate} - #{@view_data.get_var('article').uploadedby}</h6>
  <p>#{@view_data.get_var('article').content}</p>
  <hr class="featurette-divider">
  <footer class="footer">
    <p class="pull-right"><img src="https://img.shields.io/github/license/PrincetonRidgeHA/HomeWeb.svg?style=flat-square" /> | <img src="https://img.shields.io/github/tag/PrincetonRidgeHA/HomeWeb.svg?style=flat-square" /> | <img src="https://img.shields.io/travis/PrincetonRidgeHA/HomeWeb/master.svg?style=flat-square" /></p>
    <p>&copy; 2015 - Princeton Ridge Homeowners Association &middot; Developed by <a href="http://github.com/ARMmaster17">Joshua Zenn</a></p>
    <p><a href="http://glyphicons.com/">Glyphicons</a> are property of Jan Kovarik</p>
  </footer>
</div>
